{% extends 'main/includes/common.html' %}
{% load static %}
{% load widget_tweaks %}


{% block head %}

<title>TuDu | Sign Up</title>
<meta description="">
<!--Insert calculated SEO wording-->
<meta keywords="">
<!--Insert calculated SEO wording-->
<base href="/">
<!--Insert calculated SEO wording, target="" can open in new tab etc-->

{% endblock %}


{% block content %}
<div class="main">
    <div class="no-gutters h-100 d-flex flex-column justify-content-center">
        <div class="row" style="min-vh-100;">
            <div class="container" id="register_form">

                <div class="container text-center mb-4">
                    <img class="mb-1" src="{% static "main/img/favicon.png" %}" alt="logo" width="150" height="150">
                    <h1 class="h2 font-weight-normal"><strong>Create a free TuDu account</strong></h1>
                    <p>Please complete all fields as required.</p>
                </div>

                <form class="col-auto" method="POST">
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.non_field_errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% endif %}

                    <div class="form-group">
                        {{ form.username.label_tag }}
                        {% if form.is_bound %}
                        {% if form.username.errors %}
                        {% render_field form.username class="form-control is-invalid" %}
                        {% for error in form.username.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                        {% else %}
                        {% render_field form.username class="form-control is-valid" %}
                        {% endif %}
                        {% else %}
                        {% render_field form.username class="form-control" %}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {{ form.email.label_tag }}
                        {% if form.is_bound %}
                        {% if form.email.errors %}
                        {% render_field form.email class="form-control is-invalid" %}
                        {% for error in form.email.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                        {% else %}
                        {% render_field form.email class="form-control is-valid" %}
                        {% endif %}
                        {% else %}
                        {% render_field form.email class="form-control" %}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {{ form.password1.label_tag }}
                        {% render_field form.password1 class="form-control" %}
                        {% if form.password2.errors %}
                        {% for error in form.password2.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {{ form.password2.label_tag }}
                        {% render_field form.password2 class="form-control" %}
                    </div>

                    <div style="text-align: center;">
                        <button class="btn-lg" type="submit" formmethod="POST">Create Account</button>
                    </div>

                </form>

                <div class="text-center mb-4">
                    <p><sub><u><a href="/login">Already registered?</a></sub></u></p>
                </div>

            </div>
        </div>
    </div>


    {% endblock %}