{% extends 'main/includes/common.html' %}

<!--block head?-->

{% block content %}

<div class="card">
    <div class="card-header">
        Johnjkfwe a really dumbcunt
    </div>
    <div class="card-body">
        <div id="subCat" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
              <li data-target="#subCat" data-slide-to="0" class="active"></li>
              <li data-target="#subCat" data-slide-to="1"></li>
            </ul>
          
            <!-- The slideshow -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="la.jpg" alt="Los Angeles">
              </div>
              <div class="carousel-item">
                <img src="chicago.jpg" alt="Chicago">
              </div>
            </div>
          
            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#subCat" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#subCat" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>
          
          </div>
          
    </div>
    <div class="card-footer">
        rgvse
    </div>
</div>

{% endblock %}