{% load static %}
    <nav class="navbar fixed-top navbar-expand">
        <a class="navbar-brand" href="/" style="color: #EFFD5F;">
            <img src="{% static "main/img/favicon.ico" %}" alt="logo" style="width: 32px; height: 32px;">
            <span style="font-size:120%;">|</span> TuDu
        </a>
        <div class="d-flex ml-auto">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav w-100 justify-content-end">
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="pr-2" style="color:#EFFD5F;">{{user.username}}</span>
                                    <svg class="bi bi-person-circle" width="32px" height="32px" viewBox="0 0 16 16"
                                        fill="#EFFD5F" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z" />
                                        <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                        <path fill-rule="evenodd"
                                            d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z" />
                                    </svg>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="/account">My account</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/logout">Log out</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>

                {% else %}

                <li class="nav-item">
                    <a class="nav-link" href="/register">Create Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>

                {% endif %}

            </ul>
    </nav>