html, 

* {
    box-sizing: border-box;
}

#filterCard {
    min-width: 40%;
    min-height: 40%;
    max-width: 60%;
    max-height: 60%;
}

.carousel-control-next {
    height: 30px;
    width: 30px;
    top: 40%;
    bottom: 60%;
    transform: translateX(0%);
}

.carousel-control-prev {
    height: 30px;
    width: 30px;
    top: 40%;
    bottom: 60%;
    transform: translateX(0%);
}