html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif
}

* {
    box-sizing: border-box;
}

body {
    position: relative;
    padding: 50px 0 0 0;
    background-color: white;
}

/* NAVBAR */
nav {
    height: 50px;
    position: absolute;
    width: 100%;
    top: 0;
}

.navbar {
    background-color: blueviolet;
    height: 50px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    z-index: 5;
}

/* main body */
main {
    height: 100%;
    width: 100%;
    background-color: grey;
}


/* FOOTER */
footer {
    height: 0px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: black;
}