html, body {
    height: 100%;
}

* {
    box-sizing: border-box; /*move to body see what happens*/
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}


body {
    position: relative;
    padding-top: 50px;
    background-color: white;
}

#header {
    height: 50px;
    position: absolute;
    width: 100%;
    top: 0;
}

#main {
    height: 100%;
    width: 100%;
    background-color: grey;
}

#sidebar {
    min-height: 100%;
    min-width: 250px;
    max-width: 250px;
}

#sidebar.active {
    margin-left: -250px;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

/*
#sidebar a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* Position and style the close button (top right corner) *
#sidebar .closebtn {
    position: absolute;
    top: 25px;
    right: 0;
    font-size: 36px;
    margin-left: 50px;
    z-index: 1;
  }

#map {
    height: 100%;
    transition: margin-left .5s;
    padding: 20px;
    position: relative;
}

.navbar {
    background-color: blueviolet;
    height: 50px;
}


/*
/* Generic viewpane rules *
#view {margin:  }
.row, .col { overflow: hidden; position: absolute; }
.row { left: ; right: ; }
.col { top: ; bottom: ; }
.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }

.header.row { height: 50px; top: ; }
.body.row { top: 50px; bottom: ; }

/* Sidebar */
