html, body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  padding: 50px 0 0 0;
  background-color: white;
}

#bodyCollapseFilters {
  position: relative;
  padding: 50px 0 50px 0;
  background-color: white;
}

/* NAVBAR */
nav {
  height: 50px;
  position: absolute;
  width: 100%;
  top: 0;
}

.navbar {
  background-color: blueviolet;
  height: 50px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  z-index: 5;
}

/* MAIN INTERACTIVE MAP*/
main {
  height: 100%;
  width: 100%;
  background-color: grey;
}

.mapBtn {
  position: absolute;
  z-index: 1;
  padding: 0;
  margin: 0;
}

#filterBtn {
  position: absolute;
  left: 270px;
  top: 57px;
  z-index: 2;
}

.fa-sitemap {
  color: greenyellow;
}

#dropPin {
  position: absolute;
  left: 328px;
  top: 57px;
  z-index: 2;
}

.fa-map-pin {
  color: greenyellow;
}


/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: #EFFD5F;
  -webkit-text-fill-color: #EFFD5F;
  -webkit-box-shadow: 0 0 0px 1000px #6b6b6b inset;
}


#mapbox {
  position: relative;
  height: 100%;
}

/* DASHBOARD FOOTER */
footer {
  height: 0px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: black;
}

footer.collapseFilters {
  height: 80px;
  width: 100%;
  position: absolute;
  z-index: 9;
  bottom: 0;
  background-color: black;
}

footer.active {
  height: 400px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: black;
}

#toggleDash {
  position: absolute;
  z-index: 1;
  height: 20px;
  width: 100px;
  color: white;
  background-color: blueviolet;
  padding: 0;
  margin: -20px;
  /* Firefox */
  left: -moz-calc(50% - 40px);
  /* WebKit */
  left: -webkit-calc(50% - 40px);
  /* Opera */
  left: -o-calc(50% - 40px);
  /* Standard */
  left: calc(50% - 40px);
  cursor: pointer;
}

#toggleDash:hover {
  background-color: rgb(15, 132, 168);
}

#toggleDash, i {
  font-size: small;
}

/*#activeFilters {
  margin-top: 2px;
  height: 150px;
  width: 100%;
  position: absolute;
}*/

#descriptionInput{
 height: 70%;
}

.filterBarBtn {
  margin: 5px;
  padding: 0;
}

/* DASHBOARD */
#dashContent {
  position: absolute;
  z-index: 9;
  width: 100%;
  background-color: aquamarine; 
  height: 100%;
}

.tooltip {
  position: absolute;
  z-index: 99999;
}

.slick-list {
  height: 100%;
}

.slick-prev.pull-left {
  height: 30px;
  width: 25px;
  transform: translateX(100%);
  background-color: red;
}

.slick-next.pull-right {
  height: 30px;
  width: 25px;
  transform: translateX(-100%);
  background-color: red;
}

/* DASH CARDS */
.cardContainer {
  position: relative;
  width: 390px;
  height: 390px;
  padding: 0;
  margin: 0;
}

.card-headerAlt {
  padding: 0;
  background-color: transparent;
  border-bottom-color: teal;
  border-bottom-style: dashed;
  border-bottom-width: 2px;
  width: 100%;
}

.cardAlt {
  width: 380px;
  height: 380px;
  border: none;
  background-color: none;
  margin: 4px;
}

.card-body-main {
  margin: 0;
  padding: 0;
}

.card-bodyContainer {
  height: 320px;
}

/* SEARCH CARD */
#searchDash {
  width: 100%;
}

#searchFieldDash {
  width: 320px;
  height: 50px;
  border: none;
  box-shadow: none; /* removes blue highlight from field on focus */
}

#searchFieldDash::placeholder {
  color: #14bd3e;
  font-size: x-large;
  vertical-align: bottom;
}

#goSearch {
  margin: 0;
  padding: 0;
}

.fa-search {
  color: #c940ff;
}

/* LOCATIONS CARD */
.locationCardHeader {
  padding: 0;
  background-color: transparent;
  border-bottom-color: teal;
  border-bottom-style: dashed;
  border-bottom-width: 2px;
  width: 100%;
}

h6 {
  font-size: larger;
}

.locationsCardBtn {
  height: 20px;
  color: red;
  font-size: medium;
}

/* Units */
.onoffswitch {
  position: relative; 
  width: 45px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;    
}
.onoffswitch-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;

}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 15px; padding: 0; line-height: 15px;
  font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "mi";
  padding-left: 5px;
  background-color: #34A7C1; color: #1c28c4;
}
.onoffswitch-inner:after {
  content: "km";
  padding-right: 5px;
  background-color: #bbce15; color: #920d0d;
  text-align: right;
}
.onoffswitch-switch {
  display: block; width: 15px; margin: 2.5px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 26px;
  top: 23px;
  border: 2px solid #999999; border-radius: 20px;
  transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px; 
}

/* Range slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(206, 0, 233);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: rgb(224, 204, 16);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #10e078;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

.locationsCardTable {
    font-size: small;
}

/* FOCUS CARD */
#focusCardHeader {
  padding: 0;
  background-color: transparent;
  border-bottom-color: teal;
  border-bottom-style: dashed;
  border-bottom-width: 2px;
  width: 100%;
}

/* TextFill header */
#focusHeaderContainer {
  position: relative;
  height: 60px;
  width: 360px;
}

#imageContainer {
  height: 200px;
  width: 100%;
  border: solid 2px;
}

.checked {
  color: goldenrod;
  padding-top: 0;
  margin-top: 0;
}

.fa-star {
  margin: 0;
  padding: 0;
}

.subHead {
  font-size: 16px;
  line-height: 1.2;
}

#verifyOnly {
  font-size: small;
  padding: 2px;
}

#verifyOnly.active {
  font-size: small;
  padding: 2px;
  color: white;
  background-color: green;
}

.badge-pill {
  height: 18px;
}

.verifyBtn {
  font-size: x-small;
  margin: 0;
  padding: 2px;
  margin-left: 5px;
}

.flagBtn {
  font-size: x-small;
  margin: 0;
  padding: 2px;
}


/* FILTER CARD */
#Activities-dash-filter.active {
  color: white;
  background-color: rgb(169, 31, 250);
}

#Nature-dash-filter.active {
  color: white;
  background-color: rgb(138, 251, 97);
}

#Culture-dash-filter.active {
  color: white;
  background-color: rgb(244, 136, 72);
}

#Activities-add-location.active {
  color: white;
  background-color: rgb(194, 68, 247);
}

#Nature-add-location.active {
  color: white;
  background-color: rgb(138, 251, 97);
}

#Culture-add-location.active {
  color: white;
  background-color: rgb(244, 136, 72);
}

#Activities-add-location-secondary.active {
  color: white;
  background-color: rgb(194, 68, 247);
}

#Nature-add-location-secondary.active {
  color: white;
  background-color: rgb(138, 251, 97);
}

#Culture-add-location-secondary.active {
  color: white;
  background-color: rgb(244, 136, 72);
}

.catBtn {
  color: black;
  background-color: white;
}

.carousel-item {
  height: 100%;
}

.filterCard {
  height: 300px;
  margin: 4px;
  width: 380px;
}

.carousel-control-prev {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 40%;
  bottom: 60%;
  transform: translateX(0%);
  background-color: red;
}

.carousel-control-next {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 40%;
  bottom: 60%;
  transform: translateX(0%);
  background-color: red;
}

.carousel-control-prev.min {
  height: 30px;
  width: 30px;
  top: 20px;
  transform: translateX(0%);
  background-color: red;
}

.carousel-control-next.min {
  height: 30px;
  width: 30px;
  top: 20px;
  transform: translateX(0%);
  background-color: red;
}

